debug/
tools

**/__pycache__
**/*.log

scripts/gtfs_temp

raw/debug.log
raw/fares
raw/routeids
raw/routelines
raw/stops
raw/timetables
raw/translations

gtfs/debug.log
gtfs/missingShapes.txt
gtfs/missingStops.txt
gtfs/missingTimetables.txt
gtfs/intermediate
